{% layout 'layouts/base.liquid'%}

{% block head %}
    <link rel="preload" as="image" href="https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?format=avif&width=1200&quality=70">
{% endblock %}

{% block content %}

<main>
    <section class="hero">
        <picture class="hero-image">
            <source type="image/avif"
                srcset="https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?format=avif&width=400&quality=70 400w,
                    https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?format=avif&width=800&quality=70 800w,
                    https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?format=avif&width=1200&quality=70 1200w"
                sizes="(max-width: 600px) 400px, (max-width: 1024px) 800px, 1200px"
            >
            <source type="image/webp"
                srcset="https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?format=webp&width=400&quality=70 400w,
                        https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?format=webp&width=800&quality=70 800w,
                        https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?format=webp&width=1200&quality=70 1200w"
                sizes="(max-width: 600px) 400px, (max-width: 1024px) 800px, 1200px"
            >
            <img
                src="https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?width=800&quality=70"
                srcset="https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?width=400&quality=70 400w,
                    https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?width=800&quality=70 800w,
                    https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?width=1200&quality=70 1200w"
                sizes="(max-width: 600px) 400px, (max-width: 1024px) 800px, 1200px"
                alt="{{ exhibit.title }}"
                fetchpriority="high"
            >
        </picture>
    </section>

    <div class="decor-divider flower" aria-hidden="true"></div>
    
    <article class="exhibit">

        <section class="exhibit-intro">
            <p class="exhibit-period">{{  exhibit.period }}</p>
            <h1 class="exhibit-title">{{  exhibit.title }}</h1>
            <p class="exhibit-creator" >{{ exhibit.creators.first.teylers_museum_persons_id.last_name }}, {{ exhibit.creators.first.teylers_museum_persons_id.first_name }}</p>
            <a class="btn btn--primary exhibit-link" href="/niet-beschikbaar">Bekijk onze hele collectie</a>
        </section>

        <aside class="exhibit-info">
            <dl class="info-list">
                <div class="info-item">
                    <dt class="info-label">Objecttype</dt>
                    <dd>{{ exhibit.object_type }}</dd>
                </div>

                <div class="info-item item-list">
                    <dt class="info-label">Maker(s)</dt>
                    <dd>
                        <ul class="creators-list">
                            {% for creator in exhibit.creators %}
                            {% for rol in creator.teylers_museum_persons_id.Rollen %}
                                <li class="creator-item">
                                    <p>{{ creator.teylers_museum_persons_id.last_name }}, {{ creator.teylers_museum_persons_id.first_name }} ({{ creator.teylers_museum_persons_id.birth_year }} - {{ creator.teylers_museum_persons_id.death_year }})</p>
                                    <p>{{ rol | capitalize }}</p>
                                </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        <button class="btn btn--secondary btn-more" aria-expanded="false">Meer details</button>
                    </dd>
                </div>
            </dl>
        </aside>

        {% if exhibit.is_on_display %}
            <p class="exhibit-status">Nu te zien in het museum</p>
        {% else %}
            <p class="exhibit-status">Momenteel niet te zien in het museum</p>
        {% endif %}

        <section class="exhibit-content">
            {% for block in exhibit.content_blocks %}
                {% if block.block_type == 'paragraph'%}
                    <p>{{ block.text }}</p>
                {% elsif block.block_type == 'heading' %}
                    <h2>{{ block.text }}</h2>
                {% elsif block.block_type == 'quote' %}
                    <blockquote>{{ block.text }}</blockquote>
                {% endif %}
            {% endfor %} 
            {% comment %} eventueel uitbreiden met image, video, list, subheading, source {% endcomment %}
        </section>
    </article>
    <div class="decor-divider stripes" aria-hidden="true"></div>
</main>

{% endblock %}