<%- include('./partials/head') %>

<!-- Header van de indexpagina -->
<%- include('./partials/header') %>

<!-- Inhoud met diverse podcasts -->
<main class="index">
	<% data.forEach(collection => { %>
	<article>
		<picture>
			<source 
            <% data.forEach(imagefile => { %> 
            srcset="
            <%= imagefile.attributes.sourceset %>" 
            <% }); %> 
            type="">
			<img <% data.forEach(imagetransformation => { %>
			src="<%= imagetransformation.attributes.url %>" <% });
			%> alt="<%= collection.attributes.title %>"
			width="300" height="300" />
		</picture>
		<h2><%= collection.attributes.title %></h2>
		<p><%= collection.relationships.authors.data.id %></p>
		<a href="/collection?id=<%= collection.id %>">
			Ga naar deze aflevering
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 4v16l13 -8z"></path>
             </svg>
		</a>
	</article>
	<% }); %>
</main>

<!-- enkele opties in de footer -->
<footer></footer>

<%- include('./partials/foot') %>
