<%- include('./partials/head') %>

<!-- Header van de indexpagina -->
<%- include('./partials/header') %>

<!-- Inhoud met diverse podcasts -->
<main>
	<section class="index-animation">
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_JjpNLdaKYX.json"  background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop autoplay></lottie-player>
	</section>
	<div class="index-title">
		<h1>Luister naar de <em>nieuwste</em>  podcasts:</h1>
	</div>
	<section class="index">
	<!-- Genereert alle shows -->
	<% if (data && data.length) { %>
		<% data.forEach(collection => { %>
			<article>
				<picture>
					<source  srcset="/public<%= imageFiles[mainVisuals[collection.relationships.mainVisual.data.id]] %>" alt="<%= collection.attributes.title %>" width="320" height="320" loading="lazy" />
					<img  src="/public<%= imageFiles[mainVisuals[collection.relationships.mainVisual.data.id]] %>" alt="<%= collection.attributes.title %>" width="320" height="320" loading="lazy" />
				</picture>

				<h2><%= collection.attributes.title %></h2>
				<p><%= collection.attributes.intro %></p>
				<a id="<%= collection.attributes.slug %>" class="default-link" href="/collection/<%= collection.attributes.slug %>">
					Ga naar deze show
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M7 4v16l13 -8z"></path>
					</svg>
				</a>
			</article>
		<% }); %>
	<% } %>
	</section>
</main>


<%- include('./partials/foot') %>